.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 3rem;

  background: #b3c8cf;
  height: 100vh;
  padding: 2rem;
}
.heading {
  color: #fff;
  font-family: "Joti One";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
}

.back_btn {
  position: absolute;
  top: 1rem;
  left: 2rem;

  padding: 0.5rem 0.8rem;
  border-radius: 1.6rem;
  background: #e5ddc5;
}

.back_btn:hover {
}

.back_btn_text {
  margin: 0;

  font-size: 2rem;

  color: #000;
  font-family: "Joti One";
  font-style: normal;
  font-weight: 900;
}
