.ticTacToe {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.heading {
  color: #fff;
  font-family: "Joti One";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}

.input_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.player {
  font-family: "Joti One";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  color: #f1eedc;
}

.solve_btn {
  font-size: 1.2rem;

  align-self: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border-width: 0;
  background: #e5ddc5;
  transition: all 300ms ease-in-out;
}

.solve_btn:hover {
  transform: scale(1.1);
  background: #f1eedc;
  padding-left: 3rem;
  padding-right: 3rem;
}

.result_div {
  display: flex;
}

.solution {
  padding: 0.5rem;
}
